.container{
    border: 2px solid black;
    position: relative;
}

.jumbotron{
    border: 2px solid black;
    width: 650px;
    position: relative;
    left:379px;
    font-family: 'Ubuntu', sans-serif;    
}

.panel{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    position: relative;
    width: 650px;
    font-family: 'Ubuntu', sans-serif;
}

.panel-primary{
    top: 40%;
    left: 374px;
}
 
.panel-second{
    top: 38%;
    left: 374px;
}

.panel-third{
    left: 374px;
}

.btn{
   color: black;
   background-color: orangered;
   border-radius: 3px;
   width: 175px;
   height: 30px;
   font-family: 'Oswald', sans-serif;
   padding: 0;
   border: none;
   margin: 5px;
}

.btn-clear-get, .btn-clear-post{
    background-color: darkcyan;
    position: relative;
    left: 275px;
}

.btn:hover{
    opacity: 0.8;
}

.form-group{

}